<h1>Recovery Email</h1>

Hello
{{name}},

<a href='{{toAppUrl}}'>Recover</a>

<p
  style='
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffffcc;
  '
>
  ©
  {{currentYear}}
</p>