POSTGRES_USER=nest_user
POSTGRES_PASSWORD=mypassword@123
POSTGRES_DB=nest_db
POSTGRES_PORT=5432

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=example@gmail.com
MAIL_PASSWORD=app-password

JWT_SECRET=secret
JWT_EXPIRE_TIME=1
EMAIL_VERIFY_SECRET=email-secret
EMAIL_VERIFY_EXPIRE_TIME=1

FRONTEND_URL=

GOOGLE_CLIENT_ID=clientId.apps.googleusercontent.com